{
    "extends": ["plugin:prettier/recommended"],
    "plugins": ["prettier", "airbnb"],
    "ignorePatterns": ["**/dist/**/*.js", "**/dist/**/*.css", "**/dev/**/*.js", "**/dev/**/*.css"],
    "rules": {
        "prettier/prettier": "error"
    }
}
