$c-primary: #ffffff;
$c-secondary: #000000;
$c-tertiary: #efefef;

body {
    font-weight: 500;
    font-size: 16%;
    display: flex;
    width: 100%;
    position: relative;
}

a {
    font-size: 14em;
}
