/// HERE IS THE DESCRIPTION
/// On several lines if you will
/// @author EREN YASA
/// @group flex
body {
    color: #ffffff;
    background-color: #ffffff;

    @include mobil {
        color: black;
    }
}
